/* ================= HERO ================= */

.hero {
  position: relative;
  width: 100%;
  overflow: visible;
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
}







/* Search Position */

.hero-content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

/* ================= FLIGHT SEARCH ================= */